// palette: https://coolors.co/ffd9b9-9c3e47-c24054-fff4ef-9a57ff
$main-bg: #FFD9B9;
$main-text: #9C3E47;
$affix-bg: #9C3E47;
$affix-bg-hover: #C24054;
$affix-text: #FFF4EF;
$emphasis: #FFF4EF;
$link: #C24054;
$border: 3px solid #9A57FF;
