// palette: 

$main-bg: #FFD9B9;         // 1
$main-text: #9C3E47;       // 2
$affix-bg: #9C3E47;
$affix-bg-hover: #C24054;  // 3
$affix-text: #FFF4EF;      // 4
$emphasis: #FFF4EF;
$link: #C24054;
$border: 1px solid #9A57FF;          // 5
