@import "font.css";
@import "colors.scss";

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: $affix-bg;
  color: $affix-text;
  font-family: 'Open Sans';
}

header {
  border-bottom: 1px solid black;

  nav {
    display: table;
    table-layout: fixed;
    width: 100%;
    
    a {
      display: table-cell;
      text-align: center;
      color: white;
      border-right: 1px solid $main-text;
      padding: 0.25em;
      font-size: 1.25em;
      text-decoration: none;
  
      &:last-child {
        border-right: none;
      }
  
      &:hover {
        background-color: #0002;
      }
    }
  }
}

main {
  padding: 0.5em;
  background-color: $main-bg;
  color: $main-text;

  a {
    color: blue;
    text-decoration: underline;
  }
  
  code {
    padding: 0.25em;
    border-radius: 0.25em;
    background: white;
  }
  
  pre code {
    display: block;
  }

  @import "posts.scss";
}

footer {
  border-top: 1px solid $main-text;
  display: table;
  table-layout: fixed;
  width: 100%;

  div {
    display: table-cell;
    padding: 0.5em;
  }

  .social a {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    transform: translateY(0.2em);
  }
  
  .copyright {
    text-align: right;
  }
}
