{% extends "global.html" %}

{% block title %}Contact{% endblock %}

{% block body %}
  <p>
    No matter how you get in touch, please be explicitly clear about why
    you're doing it. I can be, and usually am, oblivious. If you want help, be
    sure to be clear about your problem. If you want mentorship, be clear
    about what subject.
  </p>
  <p>
    If you've found a bug or want a change in any of my projects on GitHub,
    please use their respective GitHub issues. It's much easier to track
    progress there than in my email.
  </p>
  <p>
    Likewise, if you have an issue with this site, please submit an issue to
    <a href="https://github.com/nic-hartley/RedFennecDev">its repo</a>.
  </p>
  <p>
    The best and most reliable way to get in touch with me personally is by
    email: <a href="mailto:nic@cybers.eco">nic@cybers.eco</a>. Failing that,
    my <a href="https://twitter.com/nichartley">Twitter</a> DMs are always
    open. That email is powered by ProtonMail, so you can probably trust it.
  </p>
  <p>
    Finally, I do have a phone number and a Discord. However, I don't give out
    either publicly, and I have my DMs closed on Discord. If you'd like to use
    either of those platforms, email me, and we can talk about it. Expect me
    to be suspicious of or outright hostile to the idea, though.
  </p>
{% endblock %}
