{% extends "global.html" %}

{% block title %}Index{% endblock %}

{% block body %}
  <h1>Welcome!</h1>
  <p>Hi! You've landed on CyberSec0, a blog about cybersecurity. There's not much here yet, but there will be soon! I'm just working on styling the site, figuring out how I want to run the blog, and so on.</p>
  <p>Eventually, I plan to have:</p>
  <ul>
    <li>A blog at <a href="/blog">cybers.eco/blog</a> (with an RSS feed at <a href="/blog/rss">cybers.eco/blog/rss</a>)</li>
    <li>A few demos of interesting projects and hacks I've done under <a href="/demos">cybers.eco/demos</a></li>
    <li>A couple of PSAs -- e.g. one I'm working on now about malicious tabs and phishing.</li>
  </ul>
  <p>For now, you can follow me on <a href="https://twitter.com/cyber_sec_0">Twitter</a>.</p>
  <p>See you soon!</p>

  <ul>
    {% for post in posts %}
      <li><a href="/blog/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
