html {
  background-color: rgb(34, 139, 34);
  color: white;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid black;
}

nav {
  display: table;
  table-layout: fixed;
  width: 100%;
}

nav a {
  display: table-cell;
  text-align: center;
  color: white;
  border-right: 1px solid black;
  padding: 0.25em;
  font-size: 1.25em;
  text-decoration: none;
}

nav a:last-child {
  border-right: none;
}

nav a:hover {
  background-color: #0002;
}

main {
  padding: 0.5em;
  background-color: rgb(215, 252, 215);
  color: black;
}

a {
  color: blue;
  text-decoration: underline;
}

code {
  padding: 0.25em;
  border-radius: 0.25em;
  background: #AAA;
}

pre code {
  display: block;
}

footer {
  border-top: 1px solid black;
}

.social {
  padding: 0.5em;
}

.twitter {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  transform: translateY(0.2em);
}